<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Required Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title> Exercise 3.2</title>
 <!-- Begin CSS Styles -->
 <style>
    body {
      background-color: #33658A;
    }
    header {
      background-color: #86BBD8;
    }
    main {
      background-color: #F6AE2D;
      padding: 2px;
    }
    .page-title {
      margin: .5em 1em;
    }
    footer p {
      color: #F26419;
      margin: 0 auto 1rem;
    }
  </style>
</head>
<body>
<!-- Provided HTML -->
  <header class="header">
    <h1 class="page-title">Exercise 3.2</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main">
    <strong>Message: </strong> 
    <span>Welcome to my Morgan Logging Server. Stay as long as you like!</span>
  </main>

  <footer class="footer navbar bg-dark">
    <p>Brittany Dockter | August 24, 2019 | Bellevue</p>
  </footer>

</body>
</html>