<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale-1, shrink-to-fit=no">
    <meta name="author" content="Brittany Dockter">
    <meta name="viewport" content="width=device-wdith, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>