<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">       
        <title> Employee Database </title>
    </head>
</html>
<body>
    <!-- INTRO -->
<div class="intro">
    <h1> WorkPros </h1>
    <p> Welcome to WorkPros, we're here to take care of your employee management needs!</p>
</div>

    <!-- WHO ARE WE  -->
 <div class="about">
    <h2> Who Are We? </h2>
    <p> WorkPros design databases to help keep private employee information organized, clean, and safe. </p>
    <p> Our goal is to effectively contain employee information in an easy to read, easy to navigate database.</p>
</div>

    <!-- INTEREST -->
<div class="interest">
    <h2> Interested in our services? </h2>
    <h3> Contact us today! </h3>
    <p> WorkPros wants you to achieve your highest potential, and it starts with organization.</p>
    <p> Take the leap, you won't regret it! </p>
</div>

    <!-- FORM -->
<div class="form"> 
        <label for="textfirstName">First Name:</label>
        <input type="text" class="form-control alert-warning" data-bind="value: Name" id="txtfirstName"/>

        <label for="textLast">Last Name:</label>
        <input type="text" class="form-control alert-warning" data-bind="value: lastName" id="txtlastName"/>

        <label for="textEmail">Email:</label>
        <input type="text" class="form-control alert-warning" data-bind="value: email" id="txtemail"/>

        <input type="submit" value="Submit">
</div>
</body>